import { Component, OnInit } from '@angular/core';
import { FormBuilder, FormGroup, Validators } from '@angular/forms';
import { {{ entity_name }}Service } from '../../services/{{ entity_name.lower() }}.service';

@Component({
  selector: 'app-create-{{ entity_name.lower() }}',
  template: `
    {% if figma_components %}
        {% for component_name, component_html in figma_components.items() %}
        {{ component_html | safe }}
        {% endfor %}
    {% else %}
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <label for="name">{{ entity_name }} Name:</label>
            <input id="name" formControlName="name">
            <button type="submit">Create {{ entity_name }}</button>
        </form>
    {% endif %}
  `,
})
export class Create{{ entity_name }}Component implements OnInit {
  createForm: FormGroup;

  constructor(
    private fb: FormBuilder,
    private {{ entity_name.lower() }}Service: {{ entity_name }}Service
  ) {
    this.createForm = this.fb.group({
      name: ['', Validators.required]
    });
  }

  ngOnInit(): void {}

  onSubmit(): void {
    if (this.createForm.valid) {
      this.{{ entity_name.lower() }}Service.create(this.createForm.value).subscribe(
        (response) => {
          console.log('{{ entity_name }} created successfully:', response);
        },
        (error) => {
          console.error('Error creating {{ entity_name }}:', error);
        }
      );
    }
  }
}